@import "tailwindcss";

:root {
  --background: #2b2b2b;
  --background-muted: #3b3b3b;
  --foreground: #ffffff;
  --foreground-muted: #ffffffd1;
  --accent: #a259ff;
  --celeste: #cccccc;
  --celeste-dark: #858584;
  --cardRotationAngle: 20deg;
  --reflectionOffset: 30%;
}

@theme inline {
  --color-background: var(--background);
  --color-background-muted: var(--background-muted);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-celeste: var(--celeste);
  --color-celeste-dark: var(--celeste-dark);

  --font-work-sans: var(--font-work-sans);
  --font-space-mono: var(--font-space-mono);

  --text-box-title: 1.375rem;

  /* spacing */
  --spacing-15: 3.75rem;
  --spacing-105: 26.25rem; /* 420px */
  --spacing-120: 30rem; /* 480px */
  --spacing-150: 37.5rem; /* 600px */

  /* container token for lg+ */
  --container-compact: 68rem; /* 1088px */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-background text-foreground font-work-sans;
}

/* Custom utilities */

@utility container-compact {
  @apply w-full mx-auto px-4;
  /* < lg */
  max-width: 30rem; /* 336px */
  @media (width >= 40rem) {
    max-width: 50rem; /* 640px */
  }
  /* ≥ lg (64rem = 1024px) */
  @media (width >= 64rem) {
    max-width: var(--container-compact); /* 70rem = 1120px */
  }
}

/* Custom classes */

.tap {
  @apply cursor-pointer transition ease-in-out duration-500 hover:scale-95;
}

.svg-hover {
  @apply text-celeste-dark hover:text-accent transition ease-in-out duration-75 cursor-pointer;
}

.perspective-midrange {
  perspective: 1000px;
}

.transform-3d {
  transform-style: preserve-3d;
}

.wobble {
  animation: flipWobble 18s ease-in-out infinite forwards;
}

@keyframes flipWobble {
  0% {
    transform: rotateY(var(--cardRotationAngle));
  }
  25% {
    transform: rotateY(calc(-1 * var(--cardRotationAngle)));
  }
  50% {
    transform: rotateY(var(--cardRotationAngle));
  }
  75% {
    transform: rotateY(calc(-1 * var(--cardRotationAngle)));
  }
  100% {
    transform: rotateY(var(--cardRotationAngle));
  }
}

.reflection {
  animation: reflectionMove 18s ease-in-out infinite forwards;
  background: var(--background-muted);
  background: linear-gradient(
    45deg,
    var(--background-muted) 0%,
    var(--background-muted) 35%,
    var(--foreground-muted) 50%,
    var(--background-muted) 65%,
    var(--background-muted) 100%
  );
}

@keyframes reflectionMove {
  0% {
    transform: translateX(calc(-1 * var(--reflectionOffset)));
  }
  25% {
    transform: translateX(var(--reflectionOffset));
  }
  50% {
    transform: translateX(calc(-1 * var(--reflectionOffset)));
  }
  75% {
    transform: translateX(var(--reflectionOffset));
  }
  100% {
    transform: translateX(calc(-1 * var(--reflectionOffset)));
  }
}
